/* global variables */
:root {
  --primary-blue: rgb(6, 68, 110);
  --off-white: #d1dddc;
}
.App {
  height: 100vh;
}

/* Navbar */

.Nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1dddc;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.4rem 0.5rem;
  width: 100px;
  border-radius: 0.3rem;
  background-color: rgba(0, 148, 247, 0.226);
  transition: background-color ease-in-out 0.3s;
}

.Dash-link {
  margin-left: auto;
}

.Nav-link:hover {
  background-color: rgba(0, 148, 247, 0.637);
}

.Nav-bar {
  display: inline-flex;
  height: 50px;
  font-size: 1.1em;
  background-color: var(--primary-blue);
  width: 100%;
  color: var(--off-white);
}

.title {
  text-decoration: none;
}

.title h1 {
  margin: 0px 0px 5px 5px;
  color: var(--off-white);
}

.crosshair-icon,
.cog-icon {
  margin: 0.4rem 0.5rem;
  transition: all ease 0.3s;
}

.cog-icon:hover {
  color: rgba(0, 148, 247, 0.637);
  transform: rotate(180deg);
}

/* End Navbar */

/* media queries */

/* for mobile - remove h1, nav buttons moved to cog for dropdown */

/* for tablet - nav buttoms moved to cog for dropdown*/

/* .inventory {
    width: 100%;
    height: 100vh;
    background-color: rgba(25, 32, 36, 0.856);
    color: var(--off-white);
  }
  
  .inventory p {
    margin: 0;
    padding: 0;
  } */

.page-list {
  display: flex;
  list-style: none;
}

.page-number {
  border: 1px blue solid;
  padding: 3px;
  margin: 0;
}

.page-number a:link {
  color: black;
}

.page-number a:visited {
  color: brown;
}

.page-number a:hover {
  background-color: rebeccapurple;
}
