/* RESETS */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* global variables */
:root {
  --primary-blue: rgb(6, 68, 110);
  --dark-blue: #141416;
  --light-gray: #a9a7b3;
}

.App {
  width: 100%;
  height: 100vh;
}

/* Containers */
.app-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  max-width: 900px;
  min-width: 400px;
  height: 90vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.footer {
  margin: 0 auto;
}

/* .search {
  margin: auto;
} */

/* Navbar */
.nav-bar {
  background-color: var(--primary-blue) !important;
}
.brand {
  font-family: "Racing Sans One";
  font-size: 2rem;
}
/* End Navbar */

.page-container form {
  text-align: center;
  margin-top: 20px;
}

.page-container form input {
  width: 100%;
  text-align: center;
}

/* Login */

.login-form {
  width: auto;
  display: flex;
  flex-direction: column;
}
.login-container {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.login-container Button {
  align-self: end;
}

/* End Login */

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-btn {
  margin: 0.2rem;
}

.load-spinner {
  text-align: center !important;
  height: 90vh;
}

.spinner-spin {
  margin-top: 40% !important;
}
